.count-down{
    display: flex;
    justify-content: center;
    width: auto;
}

.count-down-section{
    background-color: #ff000000;
    border: 1px solid;
    border-radius: 10px;
    width: 250px; 
}

.count-down-section h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 600;
}

.count-down-section p{
    font-size: 60px;
    font-weight: 800;
    color: red;
}

.count-down span{
    font-size: 100px;
}

@media(max-width:1024px){
    .count-down{
        display: flex;
        justify-content:center;
    }
}

@media(max-width:1024px){
    .count-down-section{
        width: 70px; 
        height:75px;
    }
}

@media(max-width:1024px){
    .count-down-section h5{
        font-size: 11px;
        font-weight: 600;
        margin-top: -20px;
    } 
}

@media(max-width:1024px){
    .count-down-section p{
        font-size: 35px;
    }
}

@media(max-width:1024px){
    .count-down span{
        font-size: 50px;
    }
}

@media(max-width:1024px){
    .container-count h1{
        font-size: 20px;
    }
}
