.count-dounn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
 }
 
 .count-down{
     border: 1px solid black;
     border-radius: 10px;
     box-shadow: 5px 5px 15px black;
     display: flex;
     justify-content: space-between;
     width: 50%;
     padding: 20px;
     background-color: rgb(228, 228, 255);
 }
 
 .count-down-section p{
     font-size: 40px;
     font-weight: 800;
     color: rgb(255, 0, 0);
 }
 
 .count-down span{
     font-size: 0px;
 }
 
 @media(max-width:420px){
     .count-down{
        margin-top: 10px;
         width: 90%;
     }

     .count-down-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3px;
        height:40px;
        width: 50px;
    }

    #section-days{
        width: 50px !important;
    }

    #section-hour{
        margin-left: 10px !important;
    }

    .count-down-section h5{
        font-size: 10px;
        font-weight: 600;
    } 

    .count-down-section p{
        font-size: 25px;
    }
 
 }
