.count-dounn-container{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.count-down{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}

.count-down-section p{
    font-size: 40px;
    font-weight: 800;
    color: rgb(27, 91, 152);
}

.count-down span{
    font-size: 0px;
}

@media(max-width:1024px){
    .count-down{
        display: flex;
        justify-content:center;
        width: auto;
    }
}

@media(max-width:1024px){
    .count-down-section{
        width: 70px; 
        height:75px;
    }
}

@media(max-width:1024px){
    .count-down-section h5{
        font-size: 11px;
        font-weight: 600;
        margin-top: -20px;
    } 
}

@media(max-width:1024px){
    .count-down-section p{
        font-size: 35px;
    }
}

@media(max-width:1024px){
    .count-down span{
        font-size: 50px;
    }
}

@media(max-width:1024px){
    .container-count h1{
        font-size: 20px;
    }
}
