.card-detail{
    margin-top: 50px;
    width: 100%;
}


@media(max-width:1024px){
   .img{
        font-size: 10px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media(max-width:1024px){
    .card-detail{
         font-size: 10px;
         bottom: 0;
         left: 0;
         right: 0;
         top: 0;
     }
 }