
.image-wrapper img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}
  
.image-wrapper img{
    margin: 0px 10px;
}

.marquee-warning h3{
    border: 2px solid red;
}


  @media(max-width:420px){
    .image-wrapper img {
      height: 100px;
      width: 100px;
    }

    .galeria{
      margin-top: 20px;
    }
  }
  