
.image-wrapper img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}
  
.image-wrapper img{
    margin: 0px 30px;
}

.marquee-warning h3{
    border: 2px solid red;
}




  @media(max-width:420px){
    .image-wrapper img {
      height: 100px;
      width: 100px;
    }

   
  }
  