.navbar{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 10px;
}

.navbar-nav a{
    color: white;
    height: 330%;
}
.navbar-nav li{
    display: flex;
    align-items: center;
}
#navbarNav{
   width: 100%;
}
.nav-item{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
}

.nav-item img{
 width: 20%;
}

@media(min-width:1024px){
    .nav-item img{
        width: 15%;
       }
}


.navbar button{
    color: white;
}

