.building{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.building img {
    margin-top: 45px;
    width: 40%;
}

@media(max-width:1024px){
    .building h1 {
        font-size: 15px;
    }

    .building img {
        width: 80%;
    }
}