.footer{
    margin-top: 20px;
    background-color: rgb(36, 37, 51);
    padding: 20px;
}

.bruma-img{
    width: 220px;
    border-radius: 10px ;
}

.copy{
    font-size: 25px;
    color: white;
}

.copy-logo{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.media{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: white;
}

.media a{
    color: white;
        text-decoration: none;    
}

.media i {
    font-size: 50px;
}


.logo-esc{
    width: 50%;
}

.copy-rally{
    text-align: center;
}

.footer-adress{
   list-style: none;
   color: white; 
}

.footer-imgs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



@media(max-width:1024px){
   
     .copy-logo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
     }

     .footer-imgs{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 30px;
     }

    .copy{
        font-size: 20px;
    }

     .adress > ul > li {
        font-size: 9px;
     }

     .logo-esc{
        width: 120px;
    }

    .media i {
        font-size: 30px;
    }
}