.bruma-img{
    width: 220px;
    border-radius: 10px ;
}

.copy{
    font-size: 15px;
}

.copy-logo{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.media{
    width: 100%;
    justify-content: space-between;
}

.media a{
    color: #333;
    text-decoration: none;    
}

.media i {
    font-size: 50px;
}


.logo-esc{
    width: 30%;
}

.footer-adress{
   list-style: none; 
}

@media(max-width:1024px){
    .bruma-img {
        width: 170px;
    }
}

@media(max-width:1024px){
    .footer-adress{
        list-style: none;
        margin-left: -30px;
     }
}

@media(max-width:1024px){
    .copy-logo{
       flex-direction: column;
       justify-content: center;
    }
}

@media(max-width:1024px){
    .logo-esc{
        margin-top: 30px;
        width: 180px;
        height: 60px;
    }
}



