.bulletin-board img{
    border-radius: 5px;
    width: 270px;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px grey;
}

.bulletin-board img:hover{
    transform: scale(1.1);
}

@media(min-width:1024px){
    .bulletin-board img{
      margin: 10px;
    }
}

@media(max-width:1024px){
    .bulletin-board img{
        width: 100px;
        margin: 10px;

    }
}

.bulletin-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
} 


@media(max-width:1024px){
    .bulletin-board{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
}

@media(max-width:1024px){
    .bulletin-board h5 {
        font-size: 10px;
    }
}

