.home__page{
    min-height: 100%;
}

.home__page__figure {
    width: 100%;
}
.home__page__figure > img {
    object-fit: cover;
    width: 100%;
    margin-top: 80px;
 }

 .home__page__section__news{
    width: 100%;
 }

 .marquee__homePage{
   margin-top: -5px;
   background-color: rgba(132, 132, 132, 0.698);
 }


 @media(max-width: 420px){
    .home__page__figure > img{
       margin-top: 80px;
    }
 }
