.home__page{
    min-height: 100%;
}

.home__page__figure {
    width: 100%;
}
.home__page__figure > img {
    object-fit: cover;
    width: 100%;
 }

 .home__page__section__news{
    width: 100%;
 }

 

 .marquee__homePage{
   margin-top: -5px;
   background-color: rgba(132, 132, 132, 0.698);
 }

 .links__media{
   text-align: center;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 100px;
 }

 .media__icons{
   display: flex;
   width: 50%;
   justify-content: space-around;

 }

 .facebook > a > img{
   width: 100%;
   max-width: 100px;
 }

 .instagram > a > img{
   width: 100%;
   max-width: 100px;
 }

 @media(max-width: 490px){
    .home__page__figure > img{
       margin-top: 0px;
    }

    .facebook > a > img{
      width: 70%;
      max-width: 100px;
    }

    .instagram > a > img{
      width: 70%;
      max-width: 100px;
    }

    .links__media{
      margin: 10px;
    }

 }
