.sectionMenuInfo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 2fr));
    grid-auto-rows: 18rem;
    gap: 1rem;
    margin-left: 10px;
    margin-right: 8px;
    margin-bottom: 400px;
    margin-top: 50px;
}

.sectionMenuInfo__article{
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 450px;
    transition: transform 0.7s ease-in-out;
    border-radius: 5px;
}

.sectionMenuInfo__article:hover{
    transform: scale(1.05);
}


#img__mapas{
    background-image: url('../../assets/mapas.png');
    background-size: cover;
}

#img__noticias{
    background-image: url('../../assets/noticias.png');
    background-size: cover;
}

#img__tiempos{
    background-image: url('../../assets/tiempos.jpg');
    background-size: cover;
}

#img__info{
    background-image: url('../../assets/info.png');
    background-size: cover;
}

.sectionMenuInfo__article__section{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.100);
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 1px 10px rgba(70, 70, 70, 0.588);
}

.title__card{
    color: white;
    font-size: 25px;
    font-weight: 800;
}
.secondary__title__card{
    color: white;
    font-weight: 100;
    font-style: oblique;
    font-size: 12px;
}

.sectionMenuInfo__article__footer { 
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media(max-width:1024px) {
    .sectionMenuInfo{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 2fr));
        grid-auto-rows: 28rem;
        gap: 1rem;
        margin: 30px;
        margin-top: 30px;
    }
}


@media(max-width:420px) {
    .sectionMenuInfo{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 2fr));
        grid-auto-rows: 18rem;
        gap: 1rem;
        margin: 30px;
        margin-top: 30px;
    }
    
    .sectionMenuInfo__article{
        margin-top: 20px;
        width: 100%;
        height: 280px;
        transition: transform 0.7s ease-in-out;
        border-radius: 5px;
    }
    
    .sectionMenuInfo__article:hover{
        transform: scale(1.05);
    }
    
    
    #img__mapas{
        background-image: url('../../assets/mapas.png');
        background-size: cover;
    }
    
    #img__noticias{
        background-image: url('../../assets/noticias.png');
        background-size: cover;
    }
    
    #img__tiempos{
        background-image: url('../../assets/tiempos.jpg');
        background-size: cover;
    }

    #img__info{
        background-image: url('../../assets/info.png');
        background-size: cover;
    }
    
    .sectionMenuInfo__article__section{
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.174);
        height: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.755);
    }
    
    .title__card{
        color: white;
        font-size: 25px;
        font-weight: 800;
    }
    .secondary__title__card{
        color: white;
        font-weight: 100;
        font-style: oblique;
        font-size: 12px;
    }
    
    .sectionMenuInfo__article__footer { 
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

