


body{
  font-family:'Roboto', sans-serif ;
  background-image: url('../src/assets/solans-sierra-morena-2023-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90%;
}

@media(max-width:490px) {
    body{
      background-position: 70%;
    }
}


*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}